/* roboto-300 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-300.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-300.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-300.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* roboto-300italic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-300italic.eot"); /* IE9 Compat Modes */
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
       url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-300italic.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-300italic.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-300italic.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* roboto-regular */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-regular.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-regular.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-regular.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* roboto-italic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-italic.eot"); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-italic.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-italic.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-italic.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* roboto-500 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-500.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-500.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-500.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* roboto-500italic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-500italic.eot"); /* IE9 Compat Modes */
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
       url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-500italic.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-500italic.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/roboto/roboto-v20-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-500italic.ttf") format('truetype'); /* Safari, Android, iOS */
}
/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/montserrat/montserrat-v14-latin-300.eot"); /* IE9 Compat Modes */
  src: local('Montserrat Light'), local('Montserrat-Light'),
       url("./assets/fonts/montserrat/montserrat-v14-latin-300.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/montserrat/montserrat-v14-latin-300.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/montserrat/montserrat-v14-latin-300.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/montserrat/montserrat-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url("./assets/fonts/montserrat/montserrat-v14-latin-regular.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/montserrat/montserrat-v14-latin-regular.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/montserrat/montserrat-v14-latin-regular.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/montserrat/montserrat-v14-latin-500.eot"); /* IE9 Compat Modes */
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url("./assets/fonts/montserrat/montserrat-v14-latin-500.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/montserrat/montserrat-v14-latin-500.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/montserrat/montserrat-v14-latin-500.ttf") format('truetype'); /* Safari, Android, iOS */
}
/* noto-serif-regular  */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/noto-serif/noto-serif-v8-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local('Noto Serif'), local('NotoSerif'),
       url("./assets/fonts/noto-serif/noto-serif-v8-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-regular.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/noto-serif/noto-serif-v8-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-regular.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/noto-serif/noto-serif-v8-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-regular.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* noto-serif-italic  */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/noto-serif/noto-serif-v8-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-italic.eot"); /* IE9 Compat Modes */
  src: local('Noto Serif Italic'), local('NotoSerif-Italic'),
       url("./assets/fonts/noto-serif/noto-serif-v8-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-italic.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/noto-serif/noto-serif-v8-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-italic.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/noto-serif/noto-serif-v8-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-italic.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* noto-serif-700  */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/noto-serif/noto-serif-v8-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'),
       url("./assets/fonts/noto-serif/noto-serif-v8-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-700.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/noto-serif/noto-serif-v8-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-700.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/noto-serif/noto-serif-v8-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-700.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* noto-serif-700italic  */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: url("./assets/fonts/noto-serif/noto-serif-v8-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-700italic.eot"); /* IE9 Compat Modes */
  src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'),
       url("./assets/fonts/noto-serif/noto-serif-v8-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-700italic.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/noto-serif/noto-serif-v8-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-700italic.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/noto-serif/noto-serif-v8-vietnamese_latin_greek_greek-ext_cyrillic-ext_latin-ext_cyrillic-700italic.ttf") format('truetype'); /* Safari, Android, iOS */
}
/* noto-sans-regular  */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/noto-sans/noto-sans-v9-vietnamese_latin_greek_devanagari_greek-ext_cyrillic-ext_latin-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local('Noto Sans'), local('NotoSans'),
       url("./assets/fonts/noto-sans/noto-sans-v9-vietnamese_latin_greek_devanagari_greek-ext_cyrillic-ext_latin-ext_cyrillic-regular.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/noto-sans/noto-sans-v9-vietnamese_latin_greek_devanagari_greek-ext_cyrillic-ext_latin-ext_cyrillic-regular.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/noto-sans/noto-sans-v9-vietnamese_latin_greek_devanagari_greek-ext_cyrillic-ext_latin-ext_cyrillic-regular.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* noto-sans-italic  */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/noto-sans/noto-sans-v9-vietnamese_latin_greek_devanagari_greek-ext_cyrillic-ext_latin-ext_cyrillic-italic.eot"); /* IE9 Compat Modes */
  src: local('Noto Sans Italic'), local('NotoSans-Italic'),
       url("./assets/fonts/noto-sans/noto-sans-v9-vietnamese_latin_greek_devanagari_greek-ext_cyrillic-ext_latin-ext_cyrillic-italic.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/noto-sans/noto-sans-v9-vietnamese_latin_greek_devanagari_greek-ext_cyrillic-ext_latin-ext_cyrillic-italic.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/noto-sans/noto-sans-v9-vietnamese_latin_greek_devanagari_greek-ext_cyrillic-ext_latin-ext_cyrillic-italic.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* noto-sans-700  */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/noto-sans/noto-sans-v9-vietnamese_latin_greek_devanagari_greek-ext_cyrillic-ext_latin-ext_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
       url("./assets/fonts/noto-sans/noto-sans-v9-vietnamese_latin_greek_devanagari_greek-ext_cyrillic-ext_latin-ext_cyrillic-700.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/noto-sans/noto-sans-v9-vietnamese_latin_greek_devanagari_greek-ext_cyrillic-ext_latin-ext_cyrillic-700.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/noto-sans/noto-sans-v9-vietnamese_latin_greek_devanagari_greek-ext_cyrillic-ext_latin-ext_cyrillic-700.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* noto-sans-700italic  */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: url("./assets/fonts/noto-sans/noto-sans-v9-vietnamese_latin_greek_devanagari_greek-ext_cyrillic-ext_latin-ext_cyrillic-700italic.eot"); /* IE9 Compat Modes */
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'),
       url("./assets/fonts/noto-sans/noto-sans-v9-vietnamese_latin_greek_devanagari_greek-ext_cyrillic-ext_latin-ext_cyrillic-700italic.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/noto-sans/noto-sans-v9-vietnamese_latin_greek_devanagari_greek-ext_cyrillic-ext_latin-ext_cyrillic-700italic.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/noto-sans/noto-sans-v9-vietnamese_latin_greek_devanagari_greek-ext_cyrillic-ext_latin-ext_cyrillic-700italic.ttf") format('truetype'); /* Safari, Android, iOS */
}
/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/open-sans/open-sans-v17-latin-300.eot"); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url("./assets/fonts/open-sans/open-sans-v17-latin-300.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/open-sans/open-sans-v17-latin-300.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/open-sans/open-sans-v17-latin-300.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url("./assets/fonts/open-sans/open-sans-v17-latin-300italic.eot"); /* IE9 Compat Modes */
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
       url("./assets/fonts/open-sans/open-sans-v17-latin-300italic.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/open-sans/open-sans-v17-latin-300italic.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/open-sans/open-sans-v17-latin-300italic.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/open-sans/open-sans-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url("./assets/fonts/open-sans/open-sans-v17-latin-regular.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/open-sans/open-sans-v17-latin-regular.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/open-sans/open-sans-v17-latin-regular.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/open-sans/open-sans-v17-latin-italic.eot"); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url("./assets/fonts/open-sans/open-sans-v17-latin-italic.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/open-sans/open-sans-v17-latin-italic.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/open-sans/open-sans-v17-latin-italic.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/open-sans/open-sans-v17-latin-700.eot"); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url("./assets/fonts/open-sans/open-sans-v17-latin-700.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/open-sans/open-sans-v17-latin-700.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/open-sans/open-sans-v17-latin-700.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url("./assets/fonts/open-sans/open-sans-v17-latin-700italic.eot"); /* IE9 Compat Modes */
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url("./assets/fonts/open-sans/open-sans-v17-latin-700italic.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/open-sans/open-sans-v17-latin-700italic.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/open-sans/open-sans-v17-latin-700italic.ttf") format('truetype'); /* Safari, Android, iOS */
}
/* nunito-300 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/nunito/nunito-v12-latin-300.eot"); /* IE9 Compat Modes */
  src: local('Nunito Light'), local('Nunito-Light'),
       url("./assets/fonts/nunito/nunito-v12-latin-300.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/nunito/nunito-v12-latin-300.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/nunito/nunito-v12-latin-300.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* nunito-300italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 300;
  src: url("./assets/fonts/nunito/nunito-v12-latin-300italic.eot"); /* IE9 Compat Modes */
  src: local('Nunito Light Italic'), local('Nunito-LightItalic'),
       url("./assets/fonts/nunito/nunito-v12-latin-300italic.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/nunito/nunito-v12-latin-300italic.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/nunito/nunito-v12-latin-300italic.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/nunito/nunito-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: local('Nunito Regular'), local('Nunito-Regular'),
       url("./assets/fonts/nunito/nunito-v12-latin-regular.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/nunito/nunito-v12-latin-regular.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/nunito/nunito-v12-latin-regular.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* nunito-italic - latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/nunito/nunito-v12-latin-italic.eot"); /* IE9 Compat Modes */
  src: local('Nunito Italic'), local('Nunito-Italic'),
       url("./assets/fonts/nunito/nunito-v12-latin-italic.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/nunito/nunito-v12-latin-italic.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/nunito/nunito-v12-latin-italic.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* nunito-700 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/nunito/nunito-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: local('Nunito Bold'), local('Nunito-Bold'),
       url("./assets/fonts/nunito/nunito-v12-latin-700.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/nunito/nunito-v12-latin-700.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/nunito/nunito-v12-latin-700.ttf") format('truetype'); /* Safari, Android, iOS */
}

/* nunito-900 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/nunito/nunito-v12-latin-900.eot"); /* IE9 Compat Modes */
  src: local('Nunito Black'), local('Nunito-Black'),
       url("./assets/fonts/nunito/nunito-v12-latin-900.woff2") format('woff2'), /* Super Modern Browsers */
       url("./assets/fonts/nunito/nunito-v12-latin-900.woff") format('woff'), /* Modern Browsers */
       url("./assets/fonts/nunito/nunito-v12-latin-900.ttf") format('truetype'); /* Safari, Android, iOS */
}
.mce-content-body {
  background-color: transparent;
  color: #333;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px;
}

.mce-content-body.dark-theme {
  color: #DDD;
}

.mce-content-body h1 {
  font-size: 16px;
  font-weight: 500;
  margin: 5px 0;
  line-height: 20px;
}

.mce-content-body p {
  margin: 0;
}

.survey-code-snippet-content {
  display: none;
}

.survey-code-snippet-button {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  background-color: #F8F8F8;
  padding: 6px;
  padding-left: 30px;
  text-align: left;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  outline: none;
  margin: 10px 0px;
  position: relative;
  color: #828282;
  font-size: 12px;
  line-height: 30px;
  height: 30px;
  box-sizing: border-box;
  cursor: default;
  user-select: none;
}

.survey-code-snippet-button:focus,
.survey-code-snippet-button:hover {
  border-color: rgba(0,0,0,0.2);
}

.survey-code-snippet-button:focus .survey-code-remove-button,
.survey-code-snippet-button:hover .survey-code-remove-button {
  display: block;
}

.survey-code-snippet-button::after,
.survey-code-snippet-button::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  transform: rotate(45deg);
  left: 15px;
}

.survey-code-snippet-button::before {
  left: 10px;
  transform: rotate(-135deg);
}

.survey-code-snippet-button .survey-code-remove-button {
  display: none;
  border: 0px;
  background-color: transparent;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #828282;
  font-size: 20px;
  line-height: 18px;
  padding-bottom: 2px;
}

.survey-code-snippet-button .survey-code-remove-button:hover {
  background-color: #E0E0E0;
}

/*# sourceMappingURL=rte.css.map*/